.feat-prod-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.feat-prod-items a{
    color: var(--dark-color);
    text-decoration: none;
    flex: 1 1 0;
}
.feat-prod-items img{
    width: 100%;
    height: 100%;
}
@media (max-width: 1440px) {
    .feat-prod-items .prod-wrap .product-name{
        font-size: 16px;
    }
    .feat-prod-items .prod-wrap .product-price{
        font-size: 16px;
    }
    .top-prod-wrap img{
        height: 20rem;
    }
}
@media (max-width: 1200px){
    .prod-wrap{
        padding: 1.5rem 1.5rem 0rem 1.5rem;
    }
}
@media (max-width: 1024px) {
    .feat-prod-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .prod-wrap{
        padding: 2rem 2rem 0rem 2rem;
    }
    .feat-prod-items .prod-wrap .product-name{
        font-size: 18px;
    }
    .feat-prod-items .prod-wrap .product-price{
        font-size: 18px;
    }
}
@media (max-width: 425px) {
    .prod-wrap{
        padding: 1rem 1rem 0rem 1rem;
    }
    .feat-prod-items .prod-wrap .product-name{
        width: 55%;
        font-size: 16px;
    }
    .feat-prod-items .prod-wrap .product-price{
        width: 45%;
        font-size: 16px;
    }
}