.nav-wrap{
    position: absolute;
    width: 100%;
}
.home-main .nav-wrap svg{
    stroke: rgb(var(--light-color));
    fill: rgb(var(--light-color)) !important;
}
.home-main .nav-container{
    border: none;
}
.home-main .slide-in-menu
{
    position: relative;
}

/* End of Nav bar */
/* Intro section */

.landing-screen{
    width: 100vw;
    height: 100vh;
    background-image: url(/public/asserts/media/homepage_cover\ 1.png);
    background-size: cover;
    display: grid;
    place-content: center;
    place-items: center;
}
.intro-text{
    color: rgb(var(--light-color));
    font-family: var(--serif);
    font-size: 9ch;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin: 2rem 20rem;
}
.sq-btn{
    width: 16rem;
    height: 4rem;
    font-family: var(--sans);
    font-size: 3.5ch;
    font-weight: 600;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 0;
}
.btn-13 {
    background: rgb(var(--light-color));
    color: rgb(var(--accent-color));
    z-index: 1;
 }
 .btn-13-d {
    background: rgb(var(--accent-color));
    color: rgb(var(--light-color));
    z-index: 1;
 }
 .btn-13:after {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   background: rgb(var(--accent-color));
   transition: all 0.3s ease;
 }
 .btn-13-d::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(var(--light-color));
    transition: all 0.3s ease;
  }
 .btn-13:hover {
   color: rgb(var(--light-color));
 }
 .btn-13-d:hover {
    color: rgb(var(--accent-color));
  }
 .btn-13:hover:after, .btn-13-d:hover:after {
   top: 0;
   height: 100%;
 }
 .btn-13:active, .btn-13-d:active {
   top: 2px;
 }

/* .landing-screen button:hover::before{
    background-color: rgb(var(--accent-color));
} */

.product-intro{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
}
.product-intro .intro-text{
    color: rgb(var(--dark-color));
    margin-bottom: 0;
    margin: 0rem 25rem;
}
.intro-para{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    padding: 0rem 30rem;
    text-align: center;
    color: rgb(var(--dark-color));
}
.scatered-imgs{
    position: absolute;
    list-style: none;
    z-index: -1;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.scatered-img img{
    position: relative;
}
#sct-img1 img{
    width: 30rem;
    height: 19rem;
    object-fit: cover;
    left: 5rem;
    top: 5rem;
}
#sct-img2 img{
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    left: 80%;
    top: -10rem;
}
#sct-img3 img{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    left: 5rem;
    top: -5rem;
}
#sct-img4 img{
    width: 25rem;
    height: 20rem;
    object-fit: contain;
    left: 75%;
    bottom: 28rem;
}
@media (max-width: 1440px){
    .intro-text{
        margin: 2rem 15rem;
    }
    .product-intro .intro-text{
        margin: 0rem 18rem;
    }
    #sct-img1 img{
        width: 21rem;
        height: 15rem;
    }
    #sct-img2 img{
        width: 16rem;
        height: 16rem;
    }
    #sct-img3 img{
        width: 18rem;
        height: 16rem;
        top: 14rem;
    }
    #sct-img4 img{
        width: 18rem;
        height: 16rem;
        top: 0rem;
    }
    .intro-para{
        padding: 0rem 17rem;
    }
}
@media (max-width: 1024px) {
    .intro-text{
        margin: 2rem 8rem;
        font-size: 7ch;
    }
    .product-intro .intro-text{
        margin: 0rem 12rem;
    }
    .sq-btn{
        font-size: 2.5ch;
        width: 14rem;
        height: 3rem;
    }
    .sq-btn::before{
        width: 14.5rem;
        height: 3.5rem;
    }
    .intro-para{
        padding: 0rem 10rem;
    }
    #sct-img2 img{
        left: 70%;
    }
    #sct-img3 img{
        top: 4rem;
    }
    #sct-img4 img{
        left: 65%;
        top: -13rem;
    }
}
@media (max-width: 768px){
    .intro-text{
        margin: 2rem 8rem;
        font-size: 36px;
    }
    .product-intro .intro-text{
        margin: 0rem 8rem;
    }
    .landing-screen .sq-btn, .product-intro .sq-btn{
        width: 10rem;
        height: 2.5rem;
        font-size: 2ch;
    }
    .intro-para{
        line-height: 24px;
        padding: 0rem 6rem;
        font-size: 18px;
    }
    #sct-img2 img{
        left: 60%;
        top: -13rem;
    }
    #sct-img3 img{
        top: 6rem;
    }
    #sct-img4 img{
        left: 60%;
        top: -12rem;
    }
}
@media (max-width: 425px) {
    .intro-text{
        margin: 2rem 0rem;
    }
    .product-intro .intro-text{
        margin: 0rem 1rem;
    }
    .product-intro .intro-para{
        font-size: 16px;
        padding: 0rem 2rem;
    }
    #sct-img1 img{
        width: 12rem;
        height: 8rem;
        left: 1rem;
    }
    #sct-img2 img{
        width: 8rem;
        height: 10rem;
        top: -6rem;
        left: 100%;
        transform: translateX(-8rem);
    }
    #sct-img3 img{
        width: 10rem;
        height: 10rem;
        top: 20rem;
        left: 1rem;
    }
    #sct-img4 img{ 
        width: 10rem;
        height: 12rem;
        top: 10rem;
    }
}

.featured-products{
    width: 100vw;
}
.sect-title{
    font-family: var(--serif);
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 0;
}
.show-link{
    font-family: var(--sans);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 1rem 0rem;
    text-decoration: none;
    color: var(--dark-color);
}


.spotlight{
    display: flex;
    height: 100vh;
}
.spotlight-text{
    width: 50vw;
    background-color: rgb(var(--accent-color));
    display: grid;
    place-content: center;
}
.spotlight-text .sect-title{
    color: rgb(var(--light-color));
    border: none;
    text-align: left;
    margin-left: 7rem;
    font-size: 28px;
}
.spotlight-text .intro-para{
    padding: 0;
    text-align: left;
    margin: 0rem 7rem;
    color: rgb(var(--light-color));
    font-size: 18px;
    line-height: 24px;
}
.spotlight-link{
    margin: 0rem 7rem;
    font-family: var(--sans);
    color: rgb(var(--light-color));
    font-size: 18px;
    line-height: 33px;
    text-decoration: none;
    width: max-content;
}
.spotlight-link:hover{
    text-decoration: underline;
}
.spotlight img{
    width: 50vw;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1200px){
    .spotlight-text .sect-title{
        font-size: 24px;
        margin-left: 5rem;
    }
    .spotlight .intro-para{
        font-size: 16px;
        margin-left: 5rem;
        margin-right: 5rem;
        line-height: 20px;
    }
    .spotlight-link{
        margin-left: 5rem;
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .sect-title{
        font-size: 30px;
    }
    .show-link{
        font-size: 20px;
    }
    .spotlight-text{
        width: 100vw;
    }
    .spotlight-text .sect-title, .spotlight-text .intro-para, .spotlight-link{
        position: relative;
        top: 8rem;
        margin-left: 3rem;
    }
    .spotlight-text .sect-title{
        font-size: 28px;
    }
    .spotlight-text .intro-para, .spotlight-link{
        font-size: 18px;
        line-height: 24px;
    }
    .spotlight img{
        width: 45vw;
        position: absolute;
        left: 3rem;
        margin-top: 3rem;
    }
}
@media (max-width: 425px) {
    .sect-title{
        font-size: 24px;
    }
    .show-link{
        font-size: 16px;
    }
    .spotlight-text .sect-title{
        font-size: 24px;
    }
    .spotlight-text .intro-para, .spotlight-text .spotlight-link{
        font-size: 16px;
        line-height: 20px;
    }
    .spotlight-text .sect-title, .spotlight-text .intro-para, .spotlight-link{
        position: relative;
        top: 12rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .spotlight img{
        width: 92vw;
        margin-top: 1rem;
        left: 1rem;
    }
}
