.grid-wrap{
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}
.grid-wrap a{
    text-decoration: none;
    color: var(--dark-color);
}
.grid-wrap img{
    width: 663px;
    height: 663px;
}
.grid-wrap .product-name, .grid-wrap .product-price{
    width: auto;
}
.grid-wrap .product-price{
    float: right;
}