.page-title{
    font-family: var(--serif);
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 74px;
    border-bottom: 1px solid;
    text-align: center;
    padding: 2.5rem 0rem;
    margin: 0;
    text-transform: uppercase;
}
.search-wrap{
    border-bottom: 1px solid;
}
.total-prod-no{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    display: inline-block;
    margin-left: 2rem;
}
.search-container{
    float: right;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-top: .8rem;
    background-color: transparent;
    font-family: var(--sans);
    width: 20rem;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    margin-right: 2rem;
}
.store-body{
    position: relative;
    display: flex;
    min-height: 100vh;
}

@media (max-width: 1024px) {
    .page-title{
        font-size: 36px;
        padding: 1rem 0rem;
    }
    .search-container{
        width: 15rem;
        line-height: 18px;
        font-size: 16px;
        margin: .5rem;
    }
    .total-prod-no{
        font-size: 18px;
    }
}
@media (max-width: 425px) {
    .page-title{
        font-size: 36px;
        padding: 1rem 0rem;
        line-height: 40px;
    }
    .search-container{
        width: 10rem;
        line-height: 18px;
        font-size: 16px;
        margin: .5rem;
    }
    .total-prod-no{
        font-size: 16px;
        margin-left: 1rem;
    }
    .store-body{
        flex-direction: column;
    }
}